<html>
  <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title> Cells Issues Visualizer </title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<style>
		body {
			font-family: "Roboto", sans-serif;
		}
	</style>
	</head>

  <body>
    <div class="container" id="app">
      <div class="row">
        <div class="col-4">

          <a href="https://gitlab.com/OmarQunsulGitlab/issues-visualizer">Source Code</a>

          <hr />
          <b> ({{ current_epic_id }}) - TODO: Make this title </b>
          <hr />

          <ul class="list-group">
            <li class="list-group-item" v-if="parent_epic_ids.length > 0">
              <a href="#" @click="current_epic_id = parent_epic_ids[parent_epic_ids.length - 1]; parent_epic_ids.splice(parent_epic_ids.length - 1, 1);"><i class="bi bi-arrow-up-square"></i></a>
            </li>
            <li class="list-group-item" v-for="item in filteredEpics">
              <a @click="parent_epic_ids.push(current_epic_id); current_epic_id = item.iid" href="#">
                {{ item["title"] }}
              </a>
              <a v-bind:href="item.web_url" class="float-end">
                <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-8">
          <div class="card">
            <div class="card-body">
              <input class="form-control" v-model="query" placeholder="Search issues here..."></input>
              <hr />
              <a class="btn m-1" v-for="milestone in milestones_sorted" @click="current_milestone = (current_milestone == milestone) ? null : milestone; $event.preventDefault()"
                v-bind:class="{ 'btn-lg': milestone.current, 'btn-primary': current_milestone == milestone, 'btn-outline-primary': current_milestone != milestone }"
              >
                {{ milestone["title"] }}
              </a>
              <hr />

              <h2> All issues included in the selected epic recursively </h2>

              <ul class="list-group">
                <li class="list-group-item" v-for="item in filteredIssues" v-bind:class="{'list-group-item-success': item.state == 'closed', 'list-group-item-warning': item.state == 'open'}">
                  <a v-bind:href="item.web_url">{{ item["title"] }}</a>
                  <span v-if="item.milestone" class="badge text-bg-primary float-end">{{ item.milestone.title }}</span>
                  <span v-if="item.weight != null" class="badge text-bg-warning float-end">{{ item.weight }}</span>
                  <span v-if="item.assignees.length == 0" class="badge text-bg-warning float-end">No Assignee</span>
                  <span v-if="item.labels.length > 0" class="badge text-bg-warning float-end">{{ item.labels }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  <script>
  var app = new Vue({
    el: '#app',
    data: { root_id: 0, current_epic_id: 0, parent_epic_ids: [], milestones: {}, milestones_sorted: [], current_milestone: null, issues: {}, epics: {}, query: "" },
    computed: 
      { 
        filteredIssues: function() { 
          var result = [];
          var issues = this.issues || {};
          for (const iid in issues) {
						var issue = issues[iid];

            // Filtering
						if (this.current_milestone && !issue.milestone) continue;
						if (this.current_milestone && issue.milestone.id != this.current_milestone.id) continue;
            if (issue.path.indexOf(this.current_epic_id) < 0) continue;

            if (issue.title.toLowerCase().match(this.query.toLowerCase())) { result.push(issue); }
          }
          return result; 
        },
        filteredEpics: function() { 
          // No querying on Epics yet
          var result = [];
          for (const iid in this.epics) {
            var epic = this.epics[iid];
            if (epic.parent_iid == this.current_epic_id) result.push(epic);
          }
          return result; 
        },
      }
  })
  </script>
  <script>
    $(function() {
      app.issues = <%= @data[:issues].to_json %>;
      app.epics = <%= @data[:epics].to_json %>;
      app.root_id = <%= @data[:root_id].to_json %>;
      app.milestones = <%= @data[:milestones].to_json %>;
      app.milestones_sorted = <%= @data[:milestones_sorted].to_json %>;
      app.current_epic_id = <%= @data[:root_id].to_json %>;
      app.parent_epic_ids = [];
			app.current_milestone = null;
    });
  </script>
</html>
